#everything {
  display: table-row;
}

#control_panel {
  display: table-cell;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

#cards_field {
  display: table-cell;
  float: center;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

#new_game {
  padding: 15px 25px;
  background-color: ForestGreen;
  float: left;
}

#check_set {
  padding: 15px 54px;
  background-color: darkorange;
}

#sets_found {
  padding: 15px 24px;
  color: black;
  background-color: LightSteelBlue;
}

#results {
  padding: 15px 41px;
  background-color: Blue;
}

#back_to_game {
  padding: 15px 12px;
  background-color: Blue;
}

.svg_element {
    position: relative;
}

.red {
    stroke: red;
}

.green {
    stroke: green;
}

.blue {
    stroke: blue;
}

.open {
    fill: none;
}

.red_solid {
    fill: red;
}

.green_solid {
    fill: green;
}

.blue_solid {
    fill: blue;
}

.red_striped {
    fill:url(#stripes_red);
}

.green_striped {
    fill:url(#stripes_green);
}

.blue_striped {
    fill:url(#stripes_blue);
}

.oval {
    stroke-width: 30px;
}

.diamond {
    vector-effect: non-scaling-stroke;
    stroke-width: 3px;
}

.rectangle {
    stroke-width: 30px;
}

.row {
    display: table-row;
}

.card_outline {
    white-space: initial;
    border: 2px solid black;
    border-radius: 25px;
    width: 200px;
    height: 300px;
    display: table-cell;
}

.blank {
    display: none;
}

.column_space {
    display: table-cell;
    width: 10px;
}


