#playing_section {
  position: relative;
  display: table-cell;
  top: 20px;
  left: 40px;
}

#try_find_set {
  padding: 15px 43px;
  background-color: darkorange;
}

.svg_element {
  position: absolute;
  left: 3px;
}

.row {
  display: table-row;
}

.blank {
  display: none;
}

.column_space {
  display: table-cell;
  width: 10px;
}

.row_space {
  height: 10px;
}

.nr_1_1 {
  top: 100px;
}

.nr_2_1 {
  top: 75px;
}

.nr_2_2 {
  top: 120px;
}

.nr_3_1 {
  top: 50px;
}

.nr_3_2 {
  top: 100px;
}

.nr_3_3 {
  top: 150px;
}
