{% load static %}

<!DOCTYPE html>
<!-- Comments like this -->
<html>
  <head>
    <meta charset="utf-8">
    <title>Set Game</title>
      <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static '/game/css/game.css' %}">
  <script src="{% static '/game/js/game.js' %}"></script>
  </head>
  <body>
    {% if end_of_game %}
        <div class="button" id="end_of_game_message">End of Game</div>
    {% endif %}
    <div id="all_containing_section">
        {% block main_content %}
        {% endblock %}
    <div id="control_section">
        {% block buttons_content %}
        {% endblock %}
    </div>
    </div>
  </body>
</html>
