{% extends 'game/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static '/game/css/scores.css' %}">
{% endblock %}

{% block body %}
<div id="table_section">
<table>
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Total time</th>
        <th>Average time per SET</th>
        <th>Hints</th>
        <th>Wrong SET calls</th>
        <th>Score</th>
    </tr>
    {% for result in stored_results %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ result.name }}</td>
            <td>{{ result.total_time }}</td>
            <td>{{ result.average }}</td>
            <td>{{ result.hints }}</td>
            <td>{{ result.wrong_sets }}</td>
            <td>{{ result.score }}</td>
        </tr>
    {% endfor %}
</table>
<div id="control_section">
<form action="{% url 'results' %}" method="POST">
    {% csrf_token %}
    <button class="button" id="results" type="submit" name="req"
        value="results">
        Close
    </button>
</form>
</div>
{% endblock %}
